// fonts
@font-face {
    font-family: jost-reg;
    src: url("../fonts/Jost-Regular.ttf");
}
@font-face {
    font-family: jost-med;
    src: url("../fonts/Jost-Medium.ttf");
}
@font-face {
    font-family: jost-bold;
    src: url("../fonts/Jost-Bold.ttf");
}
@font-face {
    font-family: jost-it;
    src: url("../fonts/Jost-ExtraLightItalic.ttf");
}
@font-face {
    font-family: jost-fat;
    src: url("../fonts/Jost-ExtraBold.ttf");
}