// root
:root {
    --index: calc(1vw + 1vh);
    --background-color: rgb(249, 251, 255);
    --background-gray: rgb(226, 230, 238);
    // --transition: cubic-bezier(.1, .7, 0, 1); 
    // color-scheme: dark;
}