.thanks-modal {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    transition: opacity .5s ease;
    opacity: 0;
    z-index: 30;
    &.active {
        display: flex;
        animation: is-visible .6s ease forwards;
    }
    &__message {
        height: 20vh;
        width: 50vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color);
        border: 2px solid black;
        border-radius: 36px;
        font-family: jost-med;
    }
    &__close {
        position: absolute;
        top: var(--index);
        right: var(--index);
        width: 40px;
        height: 40px;
        font-size: 40px;
        text-align: center;
        line-height: 1;
        color: var(--background-color);
        cursor: pointer;
    }
}
.thanks-modal__failure, .thanks-modal__success, .thanks-modal__loading {
    display: none;
    &.active {
        display: block;
    }
}

@keyframes is-visible {0% {opacity: 0;}100% {opacity: 1;}}

@media (max-width: 767px) {
    .thanks-modal {
        &__message {
            width: 75vw;
        }
    }
}

@media (max-width: 575px) {
    .thanks-modal {
        &__message {
            width: 95vw;
            padding: 40px 12px;
        }
    }
}